<div class="weather-container">
  <mat-form-field appearance="fill" class="city-select-field">
    <mat-label>Select a city</mat-label>
    <mat-select [(ngModel)]="selectedCity" (selectionChange)="onCityChange()">
      <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
    </mat-select>

    <!-- Clear icon -->
  @if (selectedCity) {
    <button mat-icon-button matSuffix (click)="clearSelection($event)" class="clear-button"
      aria-label="Clear selection">
      <mat-icon>close</mat-icon>
    </button>
  }
  </mat-form-field>
  
  @if (forecasts.length) {
    <div class="forecast-row">
      <div *ngFor="let forecast of forecasts" class="forecast-card">
        <h3>{{ forecast.dt_txt | date: 'EEE, MMM d' }}</h3>
        <img src="http://openweathermap.org/img/w/{{ forecast.weather[0].icon }}.png" alt="icon">
        <p><strong>Temp:</strong> {{ forecast.main.temp }} °C</p>
        <p><strong>Wind Speed:</strong> {{ forecast.wind.speed }} m/s</p>
        <p><strong>Description:</strong> {{ forecast.weather[0].description }}</p>
      </div>
    </div>
  }
</div>